body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  background-color: lightsteelblue;
}
#id{
    color: green;
}
.class{
    color: yellow;
}
.padre {
    color: blueviolet;
}
.padre > .hijo {
    color: aqua;
}
h1 {
    color: red;
}
h1:hover{
    color: black;
}
h2 {
    color: lightblue;
}
h3 {
    color: green;
}
.secreto {
    display: none;
}
.derecha {
    color: yellow;
    margin-left: 90%;
    font-size: 20px;
}
.centro {
    display:grid;
    justify-content: center;
    font-size: 20px;
}
.izquierda {
    color: lightseagreen;
}
.padre {
    font-size: 40px;
    color:  #ff0039 ;
}
.padre > .hijo {
    color:   #d60e54  ;
    font-size: 26px;
}
.hermanoM {
    font-size: 22px;
    color:   #ad1c70  ;
}
.hermanoM + * {
    color:  #842a8c  ;
    font-size: 18px;
}
.padre .nieto {
    color:  #5b38a8  ;
    font-size: 14px;
}
.titulo{
    border: 3px solid;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.cuadro{
    background-color: aqua;
    padding: 100px;
    display: block;
    border-radius: 100px 0 0 0;
}
input:focus{
    color: green;
}
img {
    border-radius: 900px;
}