body{
    background-color: aqua;
}
.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.R1{
    background-color: blue;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 200px;
    line-height: 120px;
    text-align: center;
    margin: 5px;
    float: left;
}
.caixa
    {
    width: 110opx;
    height: 150px;
    background-color: rgb(255, 0, 64);
    }
    article{
    width: 200px;
    height: 150px;
    background-color: rgb(0, 128, 128);
    border: 1px solid rgb(255, 255, 255);
    float: left;
    }
.C1{
    background-color: blue;
    color: gold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 200px;
}
.C2{
    background-color: blueviolet;
    width: 100px;
    height: 200px;
    display: flexbox;
}
.C3{
    background-color: greenyellow;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100px;
    height: 200px;
}
@media only screen and (max-width:1800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .uno {
        grid-column: 1;
        grid-row: 1;
        background-color: orange;
    }
    .dos {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
        background-color: orangered;
    }
    .tres {
        grid-column: 1;
        grid-row: 2 / 5;
        background-color: orange;
    }
    .cuatro {
        grid-column: 3;
        grid-row: 3;
        background-color: orange;
    }   
}
.maquetacion{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: minmax(100px, auto);
}
.banner{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: limegreen;
}
.logo {
    grid-column: 3;
    grid-row: 1;
    background-color: orange;
}
.login {
    grid-column: 3;
    grid-row: 1;
    background-color: lightcyan;
}
.espacio{
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: lightgoldenrodyellow;
}
.asideleft{
    grid-column: 1;
    grid-row: 3 / 5;
    background-color: lightskyblue;
}
.article{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: lightsteelblue;
}
.asideright{
    grid-column: 3;
    grid-row: 3 / 5;
    background-color: lightgreen;
}